@font-face {
  font-family: Typewriter;
  src: url('MonospaceTypewriter.ttf');
}

body {
  text-align: center;
  font-family: Typewriter, serif;
  font-size: 1rem;
  background-color: #000000;
  color: #ffffff;
}

button {
	border: 0;
  font-family: Typewriter, serif;
  font-size: 1rem;
  margin: 2px;
  background-color: #aaaaaa;
  color: #000000;
}

.options-button {
  width: 256px;
  height: 64px;
}

.disabled {
  background-color: #555555;
}

.autobuyerdiv {
  display: table;
  text-align: center;
  width: 352px;
  height: 128px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.autobuyerunlockbutton {
  text-align: center;
  width: 362px;
  height: 72px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.challengediv {
  display: table;
  text-align: center;
  width: 512px;
  height: 256px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.infinitychallengediv {
  display: table;
  text-align: center;
  width: 512px;
  height: 320px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.eternitychallengediv {
  display: table;
  text-align: center;
  width: 512px;
  height: 320px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.eternitymilestonediv {
  display: table;
  text-align: center;
  width: 256px;
  height: 192px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.chromadiv {
  display: table;
  text-align: center;
  width: 384px;
  height: 96px;
  padding: 4px;
  margin: 4px;
  border: solid;
  border-width: 1px 1px;
}

.studynormalunbuyable {
  display: table;
  text-align: center;
  background: #555555;
  width: 256px;
  height: 160px;
}

.studynormalbuyable {
  display: table;
  text-align: center;
  background: radial-gradient(#cccc33, #aaaaaa);
  width: 256px;
  height: 160px;
}

.studynormalbought {
  display: table;
  text-align: center;
  background: #cccc33;
  width: 256px;
  height: 160px;
}

.studyinfinityunbuyable {
  display: table;
  text-align: center;
  background: #555555;
  width: 256px;
  height: 160px;
}

.studyinfinitybuyable {
  display: table;
  text-align: center;
  background: radial-gradient(#cc33cc, #aaaaaa);
  width: 256px;
  height: 160px;
}

.studyinfinitybought {
  display: table;
  text-align: center;
  background: #cc33cc;
  width: 256px;
  height: 160px;
}

.studytimeunbuyable {
  display: table;
  text-align: center;
  background: #555555;
  width: 256px;
  height: 160px;
}

.studytimebuyable {
  display: table;
  text-align: center;
  background: radial-gradient(#33cccc, #aaaaaa);
  width: 256px;
  height: 160px;
}

.studytimebought {
  display: table;
  text-align: center;
  background: #33cccc;
  width: 256px;
  height: 160px;
}

.greyspan {
  color: #aaaaaa;
}

.purplespan {
  color: #6633cc;
}

.orangespan {
  color: #cc6633;
}

.yellowspan {
  color: #ffff00;
}

.greenspan {
  color: #33ff33;
}

.bluespan {
  color: #3333ff;
}
